<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1049401717641-6239sg03qhca5e5j5nrqjg2n5919q461.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1049401717641-6239sg03qhca5e5j5nrqjg2n5919q461</string>
	<key>API_KEY</key>
	<string>AIzaSyBoPAJwo4jY4HdgSAWvLrtXBHZYAj8MaRQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1049401717641</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Vlad-Novol.Flow</string>
	<key>PROJECT_ID</key>
	<string>flow-d5b9a</string>
	<key>STORAGE_BUCKET</key>
	<string>flow-d5b9a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1049401717641:ios:9cf452229f876a1516e758</string>
</dict>
</plist>